<!DOCTYPE html>
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'css/script.js' %}"></script>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header> 
        {% if request.user.is_superuser == 1 %}
            <a href="/home/" class="btn">Enviar imagem</a>
            {% if request.path != '/galeria/' %}
            <a href="/galeria/" class="btn">Galeria</a>
            {% endif %}
            {% if request.path != '/lixeira/' %}
            <a href="/lixeira/" class="btn">Lixeira</a>
            {% endif %}
            
        {% endif %}
        <a href="/sair" class="btn_sair">Sair<a/>

            
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>

</body>

</html>