{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block content %} 
    <link rel="stylesheet" href="{% static 'css/testando.css' %}">
    <h1>Galeria</h1>
    <section class='gallery'>
        {% for image in images %}
            <div class="image-container">
                    {% if request.user.is_staff == 1 %}
                    ID: {{ image.id }}
                    {% endif %}
                    <img src="{{ image.imagem.url }}" alt="{{ image.title }}" data-id="{{ image.id }}" onclick="exibirPopup('{{ image.id }}')">
                    <div id="popup_{{ image.id }}" class="popup">
                        <p>Você quer restaurar esta imagem?</p>
                        <button onclick="lixeira('{{ image.id }}')">Sim</button>
                        <button onclick="fecharPopup('{{ image.id }}')">Não</button>
                    </div>
                    <span>
                        {{ image.titulo }}
                    </span>
            </div>
        {% endfor %}
    </section>
    <script>
        function lixeira(id) {
            $.ajax({
                url: "/lixeira/",
                type: "POST",
                data: {image_id: id, csrfmiddlewaretoken: "{{ csrf_token }}",
                state:"inactive"},
                success: function(data){

                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}